# Core
PyQt5>=5.15.0
python-chess>=1.9.0
chess>=1.9.0

# Screen capture & Computer Vision
mss>=9.0.0
opencv-python>=4.8.0
numpy>=1.24.0

# Automation
PyAutoGUI>=0.9.54
pynput>=1.7.6

# Build
pyinstaller>=6.0.0
